doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js", integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+CE8auy9/yo4/2+wC6IQDomTKduh4fY+8vZea5t", crossorigin="anonymous")
    script(src="/javascripts/script.js")    
  body(style='padding: 0 20%;')
    block content
